@import "./src/variables/variables.scss";
.String_Input {
    align-items: center;
    margin-top: 30px;
}

.String_Input input {
    padding-right: 15px;
    height: 45px;
    width: 100%;
    text-align: right;
    outline: none;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
}

// Email Input
.email_input {
    //width: 75%;
    align-items: center;
    display: flex;
    position: relative;
    margin: 15px auto;
}

.email_input i {
    left: 0;
    padding: 3px;
    position: absolute;
    font-size: 20px;
    color: $grayColor;
}

.email_input input {
    padding-left: 40px;
    height: 45px;
    width: 100%;
    outline: none;
    text-align: left;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
}

//  ----------------------------------- Time INPUT
.time_input {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.input_time_title {
    color: $grayColor;
    font-family: $fontM;
    font-weight: 500;
    font-size: 16px;
    padding-top: 7px;
    //text-align: center;
}

//  ----------------------------------- FOCUS
.password_input:focus-within i {
    color: $blueColor;
}

.email_input:focus-within i {
    color: $blueColor;
}

input:focus {
    border-color: $blueColor;
}

.eyeIcon {
    cursor: pointer;
}

//  ----------------------------------- MEDIA