@import "../../../Variables/Variables.scss";

.mainBox {
    background-color: $backgroundAppGray;
    
}

.form-box {
    background-color: $whiteColor;
}

.text-blue {
    color: $blueColor;
}

.background-blue {
    background-color: $blueColor;
}